<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.brennongs.update</string>

  <key>ProgramArguments</key>
  <array>
    <string>/usr/local/bin/update</string>
  </array>


  <key>RunAtLoad</key>
  <true/>

  <key>StartInterval</key>
  <integer>14400</integer>

  <key>StandardErrorPath</key>
  <string>/tmp/com.brennongs.update.plist.err</string>

  <key>StandardOutPath</key>
  <string>/tmp/com.brennongs.update.plist.out</string>
</dict>
</plist>